server:
  port: 8765

spring:
  application:
    name: edgeserver
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: clientms
              uri: lb://clientms
              predicates:
                - Path=/clientes/**
            - id: cartoesms
              uri: lb://cartoesms
              predicates:
                - Path=/cartoes/**
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always